.perfil {
  height: 100vh;

  .container {
    background-color: #E7E6ED;
    margin-top: 10vh;
    padding: 5vh 10vw 5vh 12vw;
    height: 90vh;
    display: flex;

    .left {
      background-color: #002234;
      width: 20vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;

      .avatar {
        width: 90%;
        height: auto;
        object-fit: cover;
        margin-top: 2vh;
      }

      button{
        margin-bottom: 2vh;
        outline: none;
        border: 1px #ff0000 solid;
        color: #ff0000;
        display: flex;
        align-items: center;
        gap: 0.5vw;
        padding: 0.8vh 1.5vw;
        border-radius: 5px;
        background-color: transparent;
        margin-right: -9vw;
        cursor: pointer;

        .logout{
          width: 14px;
          height: auto;
          object-fit: cover;
        }
      }
    }

    .content {
      background-color: #ffffff;
      padding: 3vh 2vw;
      width: 55vw;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.338);

      .header {
        display: flex;
        flex-direction: column;
        margin-bottom: 4vh;

        div {
          display: flex;
          justify-content: space-between;
          margin-bottom: 1vh;

          h3 {
            font-size: 1.4rem;
          }

          .edit {
            width: 25px;
            height: 25px;
            cursor: pointer;
          }
        }

        p {
          color: #808080;
        }
      }

      h4 {
        margin: 2vh 0;
      }

      .inputForm {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2vh;
        gap: 2vh;

        input {
          border: 1.5px solid #ecedec;
          border-radius: 10px;
          height: 50px;
          padding-left: 10px;
          outline: none;
          font-size: 1rem;
        }
      }
    }
  }
}