.sobre {
    .section1 {
        height: 100vh;
        background-color: #faf9fb;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12vh 10vw 10vh 10vw;
        gap: 3vw;

        .section1-img {
            width: 34vw;
            height: auto;
            border-radius: 10px;
        }

        div {
            h2 {
                font-size: 2.4rem;
                color: #002234;
                width: 90%;
                margin-bottom: 2vh;
            }

            p {
                color: #808080;
            }

            button {
                width: 40%;
            }
        }
    }
}